*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #F3EFE0;
}

body{
    background: #434242 ;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 .5rem;

}

header ul{
    display: flex;
}

header ul > li{
    margin-left: 2rem;
    list-style-type: none;
}

header ul > li > a{
    text-decoration: none;
    font-size: 1.2rem;
}


section{
    margin-top: 5rem;
   }

.container{
    padding: .7rem;
    display: flex;
    width: 800px;
    background: #222222;
    height: 500px;
    margin: auto;
    border-radius: 1rem;
}

.box{
    margin-left: .5rem;
    height: 300px;
    padding: 10px;
    border: 1px solid #F3EFE0;
    border-radius: .5rem;
}


h3{
    margin-bottom: .5rem;
}

button{
    cursor: pointer;
    background:#22A39F;
}